<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <td> First Name </td>
    <td> Last Name </td>
    <td> Age </td>
    <td> Gender</td>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td th:each ="mentor : ${mentors}" th:text="${mentor.firstName}"></td>

    <td th:each ="mentor : ${mentors}" th:text="${mentor.lastName}"></td>

    <td th:each ="mentor : ${mentors}" th:text="${mentor.age}"></td>

    <td th:each ="mentor : ${mentors}" th:text="${mentor.gender.MALE}"></td>
  </tr>

  </tbody>
</table>

</body>
</html>