<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<body>

<table>
  <thead>
  <ul>
    <li> First Name </li>
    <li> Last Name </li>
    <li> Age </li>
    <li> Gender</li>
  </ul>
  </thead>
  <tbody>
  <ul>
    <li th:each ="mentor : ${mentors}" th:text="${mentor.firstName}"></li><br>
    <li th:each ="mentor : ${mentors}" th:text="${mentor.lastName}"></li><br>
    <li th:each ="mentor : ${mentors}" th:text="${mentor.age}"></li><br>
    <li th:each ="mentor : ${mentors}" th:text="${mentor.gender.MALE}"></li><br>
  </ul>

  </tbody>
</table>

</body>
</html>